.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 180px;
}

.video-list{
    margin: 4px 4px;
    padding: 4px;
    width: 500px;
    height: 50%;
    overflow-x: hidden;
    overflow-x: auto;;

}